In [10]:
import pandas as pd
filename = '/content/drive/MyDrive/1Coding Dojo/Week2/sales_predictions.csv'

df = pd.read_csv(filename)
df.head(25)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224
20           FDN22       18.850  ...  Supermarket Type1          3775.0860
21           FDW12          NaN  ...  Supermarket Type3          4064.0432
22           NCB30       14.600  ...  Supermarket Type1          1587.2672
23           FDC37          NaN  ...      Grocery Store           214.3876
24           FDR28       13.850  ...  Supermarket Type1          4078.0250

[25 rows x 12 columns]

In [36]:
df = df.fillna(method='bfill')

In [45]:
df = df.drop(columns=['Outlet_Identifier', 'Item_Visibility'])

In [46]:
df.groupby('Item_Type').Item_MRP.agg(['sum','min', 'max'])

                               sum      min       max
Item_Type
Baking Goods            81894.7364  33.9874  265.5568
Breads                  35379.1198  31.9558  263.6594
Breakfast               15596.6966  40.0480  234.9300
Canned                  90706.7270  36.3506  266.8884
Dairy                  101276.4596  33.4874  266.6884
Frozen Foods           118558.8814  31.9558  264.8910
Fruits and Vegetables  178124.0810  36.2506  264.2252
Hard Drinks             29334.6766  34.2532  261.4278
Health and Hygiene      68025.8388  33.1216  266.6884
Household              135976.5254  32.4558  264.7910
Meat                    59449.8638  34.7532  261.5936
Others                  22451.8916  35.0190  254.9040
Seafood                  9077.8700  33.7216  240.2880
Snack Foods            175433.9204  32.3558  264.9568
Soft Drinks             58514.1650  31.2900  263.5910
Starchy Foods           21880.0274  34.0532  263.0252

In [47]:
df.groupby('Item_Fat_Content')[['Item_MRP']].sum()

                     Item_MRP
Item_Fat_Content
LF                 43857.1062
Low Fat           717390.8394
Regular           409413.1214
low fat            15071.7328
reg                15948.6810

In [48]:
df.groupby('Item_Fat_Content')[['Item_Identifier']].count()

                  Item_Identifier
Item_Fat_Content
LF                            316
Low Fat                      5089
Regular                      2889
low fat                       112
reg                           117

In [49]:
df.groupby('Outlet_Type')[['Item_Outlet_Sales']].count()

                   Item_Outlet_Sales
Outlet_Type
Grocery Store                   1083
Supermarket Type1               5577
Supermarket Type2                928
Supermarket Type3                935

In [50]:
df.groupby(['Outlet_Type', 'Outlet_Location_Type'])[['Item_Type']].count()

                                        Item_Type
Outlet_Type       Outlet_Location_Type
Grocery Store     Tier 1                      528
                  Tier 3                      555
Supermarket Type1 Tier 1                     1860
                  Tier 2                     2785
                  Tier 3                      932
Supermarket Type2 Tier 3                      928
Supermarket Type3 Tier 3                      935